/* add css module styles here (optional) */

.imageZoomer {
  position: relative;
}

.imageContainer {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.imageContainer > img {
  width: 100%;
  cursor: pointer;
  position: relative;
  display: block;
}

.zoomScreen {
  position: absolute;
  top: 0px;
  z-index: 99;
  left: 100%;
  overflow: hidden;
}

.pointer {
  position: absolute;
  left: 0px;
  top: 0px;
  border: 1px red solid;
  cursor: pointer;
}

.imageZoomed {
  width: 100%;
}

.zoomedImgContainer {
  position: absolute;
  left: 0px;
  top: 0px;
}
